:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 15px;
}

:host ::ng-deep .avatar-post {
  align-self: flex-start;
}

.comment-body {
  display: grid;
  grid-gap: 8px;
  word-break: break-word;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.comment-header .medium-text {
  color: var(--light-color);
}
