:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 15px;
}

.comment-body {
  display: grid;
  grid-gap: 8px;
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.comment-header .medium-text {
  color: var(--light-color);
}
