:host {
  display: grid;
  grid-gap: 48px;
  grid-template-columns: 380px 664px;
  padding: 24px;
  width: 1140px;
}

.profile-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  border: 1px solid var(--light-color);
  background: var(--dark-color);
  height: calc(100dvh - (24px * 4));
  max-width: 664px;
  height: 852px;
}

.profile-form {
  display: grid;
  grid-gap: 20px;
}

.two-colums {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.additional-services {
  background: var(--primary-color);
  width: max-content;
  height: 30px;
  border: none;
  border-radius: 5px;
}