:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 12px;
}

:host.is-mine {
  display: grid;
  grid-template-columns: 1fr 32px;
  justify-self: self-end;
  grid-gap: 12px;

  .message-container {
    order: -1;
    text-align: -webkit-right;
    justify-self: end;
  }

  .message-text {
    background: var(--primary-color);
    color: var(--dark-color);
    clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
    width: fit-content;
    text-align: left;
  }
  .user-chat-name {
    order: 1;
  }
}

.message-and-time {
  display: flex;
  gap: 4px;
}

.message-text {
  padding: 8px 16px;
  background: var(--message-color);
  font-weight: 500;
  color: var(--light-color);
  max-width: 100%;
  clip-path: polygon(10px 0, 100% 0, 100% 100%, 0 100%, 0 10px);
  word-break: break-word;
  width: fit-content;
}
